/* About.css */
.email-link {
    color: blue; /* Change to your desired color */
}

.twitter-link {
    color: lightblue; /* Change to your desired color */
}

.instagram-link {
    color: pink; /* Change to your desired color */
}
